<app-header></app-header>
<div class="w-100 d-flex align-items-center" style="height: 60vh ; background-image: url('../../assets/banner-blue.jpg') ;  position: relative ">
  <h2 style="font-size: 50px ; color: #FFFFFF; font-weight: 700; line-height: inherit; text-space: 3px; z-index: 2; margin-left: 10%">Levez-vous avec votre <br> emploi de rêve dans <br>
    <span style="background: #434a54; padding: 10px ">Hydrochain</span></h2>

  <img src="http://sbtechnosoft.com/guidepro/images/man.png" class="anim3" style="position: absolute; right: 5%; top :22% ; opacity: 0.95; z-index: 1"/>
  <div class="hero-animation">
    <img class="anim-hero-01" src="https://tezcoweb.com/template/nexigen/assets/images/home/doddles01.png" alt="">
    <img class="anim-hero-02" src="https://tezcoweb.com/template/nexigen/assets/images/home/doddles02.png" alt="">
  </div>

</div>
<section class="bgc-fa pt-5">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col">
        <mat-form-field class="w-100">
          <mat-label>Toppings</mat-label>
          <mat-select [formControl]="toppings" multiple>
            <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="w-100">
          <mat-label>Toppings</mat-label>
          <mat-select [formControl]="toppings" multiple>
            <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="w-100">
          <mat-label>Toppings</mat-label>
          <mat-select [formControl]="toppings" multiple>
            <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-slide-toggle>À distance uniquement</mat-slide-toggle>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div style="display: flex;justify-content: center; align-items: center; position: relative; color: #183247;background: #fff;border: 1px solid #e6e6e6; width: 100%; border-radius: 3px; ">
        <mat-icon class="px-1">search</mat-icon>
        <input type="text" placeholder="Rechercher l'intitulé du poste" style="border: 0; width: 100% ; height: 100%; padding: 10px ; outline: 0 ; border: none; -moz-outline-style: none;">
        </div>
        </div>
    </div>
      <div class="row mt-4">
      <div class="col-lg-12">
        <div class="ulockd-main-title">
          <h2 class="primary_title">Postes ouverts</h2>
          <a class="text-thm float-right" href="#"><i class="flaticon-right-arrow px-5"></i></a>
        </div>
      </div>
    </div>
    <div class="row mt-0">

      <div class="col-sm-12 col-lg-12">
        <div class="fj_post" routerLink="detail/1">
          <div class="details">
            <h5 class="job_chedule text-thm mt0">Full Time</h5>
            <div class="thumb fn-smd">
              <img class="img-fluid" src="https://creativelayers.net/themes/careerup-html/images/partners/1.jpg" alt="1.jpg">
            </div>
            <h4>JEB Product Sales Specialist, Russia &amp; CIS</h4>
            <p>Posted 23 August by <a class="text-thm" href="#">Wiggle CRC</a></p>
            <ul class="featurej_post">
              <li class="list-inline-item"><span class="flaticon-location-pin"></span> <a href="#">Bothell, WA, USA</a></li>
              <li class="list-inline-item"><span class="flaticon-price pl20"></span> <a href="#">$13.00 - $18.00 per hour</a></li>
            </ul>
          </div>

        </div>
      </div>

      <div class="col-sm-12 col-lg-12">
        <div class="fj_post">
          <div class="details">
            <h5 class="job_chedule text-thm mt0">Full Time</h5>
            <div class="thumb fn-smd">
              <img class="img-fluid" src="https://creativelayers.net/themes/careerup-html/images/partners/1.jpg" alt="1.jpg">
            </div>
            <h4>JEB Product Sales Specialist, Russia &amp; CIS</h4>
            <p>Posted 23 August by <a class="text-thm" href="#">Wiggle CRC</a></p>
            <ul class="featurej_post">
              <li class="list-inline-item"><span class="flaticon-location-pin"></span> <a href="#">Bothell, WA, USA</a></li>
              <li class="list-inline-item"><span class="flaticon-price pl20"></span> <a href="#">$13.00 - $18.00 per hour</a></li>
            </ul>
          </div>

        </div>
      </div>

      <div class="col-sm-12 col-lg-12">
        <div class="fj_post">
          <div class="details">
            <h5 class="job_chedule text-thm mt0">Full Time</h5>
            <div class="thumb fn-smd">
              <img class="img-fluid" src="https://creativelayers.net/themes/careerup-html/images/partners/1.jpg" alt="1.jpg">
            </div>
            <h4>JEB Product Sales Specialist, Russia &amp; CIS</h4>
            <p>Posted 23 August by <a class="text-thm" href="#">Wiggle CRC</a></p>
            <ul class="featurej_post">
              <li class="list-inline-item"><span class="flaticon-location-pin"></span> <a href="#">Bothell, WA, USA</a></li>
              <li class="list-inline-item"><span class="flaticon-price pl20"></span> <a href="#">$13.00 - $18.00 per hour</a></li>
            </ul>
          </div>

        </div>
      </div>

    </div>
  </div>
</section>



<!--<div class="container d-flex justify-content-center">-->
<!--<div class="w-75">-->
<!--  <mat-card class="card">-->
<!--    <mat-card-content>-->
<!--      <h2 class="primary_title">Alternance Full stack developper</h2>-->
<!--      <p class="paragraph">-->
<!--        Lieu : Paris (75), FranceDurée : AlternanceFormation : bac +3/5Expérience : une première expérience en Sales demandées (stage ou alternance)Début : début septembre 2023Salaire : en fonction de votre n...-->
<!--      </p>-->
<!--    </mat-card-content>-->
<!--  </mat-card>-->

<!--</div>-->
<!--</div>-->
