<app-header></app-header>
<app-top-body></app-top-body>
<div class="d-flex justify-content-center gap-5 p-5" style="width: 100%">
<app-cards color="blue" title="Formation" content="Nos formateurs Hydrochain conçoivent les programmes pédagogiques adaptés à votre écosystème et vos besoins, pour bâtir le socle d’une implémentation réussie."></app-cards>

<app-cards title="Recrutement" content="Vous définissez avec l’un de nos consultants vos critères (candidat idéal, votre contexte, vos souhaits), nous évaluons ensemble la faisabilité du projet." color="black"></app-cards>

<app-cards color="pitrol" title="Conseil" content="De la qualité de votre cahier des charges et de vos spécifications, dépend la juste conception de l’outil qui répond parfaitement à vos besoins. Nos consultants sont à même de conduire cette étape préalable et indispensable de conseil."></app-cards>

  <app-cards title="Développement" content="Chez Hydrochain, nous concevons et livrons dans des délais optimum, vous permettant ainsi d’utiliser votre nouvelle blockchain dans un planning prédéterminé, assurant la continuité de vos transactions." color="gray"></app-cards>
</div>
<app-stats></app-stats>
<app-get-in-touch></app-get-in-touch>
<app-hebergement></app-hebergement>
<app-footer></app-footer>
